<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/doguinho.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/error.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <title>Me Ajuda Aí</title>
</head>

<body>
    <div class="card">
        <p class="title-card">Erro ao tentar realizar operação</p>
        <a
            href="/">
            <button type="button" class="button-home"><img src="/img/home.svg">Retornar a página inicial</button>
        </a>
    </div>
</body>

</html>