<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/doguinho.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <title>Me Ajuda Aí</title>
</head>

<body>
    <div id="container">
        <div class="menu">
            <nav id="mainnav">
                <ul class="wrapper-menu">
                    <li class="wrapper-dropdown">
                        <a>Menu <img src="./img/arrow-down.svg" alt="seta para baixo"> </a>
                        <ul class="dropdown">
                            <li><a href="/edit">Editar Dados</a></li>
                            <li><a href="/delete">Deletar Dados</a></li>
                            <li><a href="/export">Exportar Dados</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="logo-container">
            <img class="platform-image" src="./img/plataforma.svg" alt="Plataforma de Estudos">
            <h2>Sua plataforma de ajuda para estudos online</h2>
            <img class="doguinho" src="./img/doguinho.png" alt="Dog Forte e Dog Fraco">
        </div>

        <div class="buttons-container">
            <a class="helping-colleague" href="/helping-colleague">
                <img src="./img/ajudar-colega.svg" alt="Ajudar Colega"> Ajudar Colega
            </a>
            <a class="find-help" href="/find-help">
                <img src="./img/encontrar-ajuda.svg" alt="Encontrar Ajuda"> Encontrar Ajuda
            </a>
        </div>
    </div>
</body>

</html>